<h1>Hola Mundo <small>templates is working</small></h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>{{ titulo }} <small></small></h2>

    {{ queryset.Nombres }}
    {{ queryset.ApellidoPaterno }}
    {{ queryset.ApellidoMaterno }}
    {{ queryset.FechaNacimiento }}

<a href="{% url 'clientes:list' %}">Return</a><br>
<a href="{% url 'clientes:update' id=queryset.id %}">Editar</a><br>
