{% extends "base.html" %}

{% block head_title%}{{ titulo }}{% endblock head_title %}

{% block content %}
<h2 class="sub-header">{{ titulo }}</h2>
<table class="table table-condensed">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha de nacimiento</th>
      </tr>
    </thead>
    <tbody>
        {% for obj in queryset %}
          <tr>
            <td><a href="{{ obj.get_absolute_url }}">{{ obj.Nombres }} {{ obj.ApellidoPaterno }}</a></td>
            <td>{{ obj.FechaNacimiento }}</td>
          </tr>
      {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
    {% if queryset.has_previous %}
    <a href="?page={{ queryset.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
    Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
    </span>
    {% if queryset.has_next %}
    <a href="?page={{ queryset.next_page_number }}">next</a>
    {% endif %}
    </span>
</div>

<a class="btn btn-xs btn-primary" href="{% url 'clientes:create' %}">Create</a>

{% endblock content %}
